# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [2]:
tensorflow.__version__

'2.14.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [3]:
df = pd.read_csv('Churn_Modelling.csv')
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [4]:
df.shape

(10000, 14)

In [5]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

Dropping the irrelevant columns

In [6]:
df.drop(["RowNumber","CustomerId","Surname"], axis=1, inplace=True)
df.head(3)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

In [7]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [8]:
print(X)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

In [9]:
print(y)

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

### Encoding categorical data

Label Encoding the "Gender" column

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])

In [11]:
print(X)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France       0   42       2       0.00              1
1             608     Spain       0   41       1   83807.86              1
2             502    France       0   42       8  159660.80              3
3             699    France       0   39       1       0.00              2
4             850     Spain       0   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France       1   39       5       0.00              2
9996          516    France       1   35      10   57369.61              1
9997          709    France       0   36       7       0.00              1
9998          772   Germany       1   42       3   75075.31              2
9999          792    France       0   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

Encoding the "Geography" column

In [12]:
X = pd.get_dummies(X, columns=['Geography'])

In [13]:
print(X)

      CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0             619       0   42       2       0.00              1          1
1             608       0   41       1   83807.86              1          0
2             502       0   42       8  159660.80              3          1
3             699       0   39       1       0.00              2          0
4             850       0   43       2  125510.82              1          1
...           ...     ...  ...     ...        ...            ...        ...
9995          771       1   39       5       0.00              2          1
9996          516       1   35      10   57369.61              1          1
9997          709       0   36       7       0.00              1          0
9998          772       1   42       3   75075.31              2          1
9999          792       0   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
0                  1        101348.88                 1                  0
1                  1        112542.58                 0                  0
2                  0        113931.57                 1                  0
3                  0         93826.63                 1                  0
4                  1         79084.10                 0                  0
...              ...              ...               ...                ...
9995               0         96270.64                 1                  0
9996               1        101699.77                 1                  0
9997               1         42085.58                 1                  0
9998               0         92888.52                 0                  1
9999               0         38190.78                 1                  0

      Geography_Spain
0                   0
1                   1
2                   0
3                   0
4                   1
...               ...
9995                0
9996                0
9997                0
9998                0
9999                0

[10000 rows x 12 columns]

### Splitting the dataset into the Training set and Test set

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [16]:
ann_model = Sequential()

### Adding the input layer and the first hidden layer

In [17]:
ann_model.add(Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [18]:
ann_model.add(Dense(units=6, activation='relu'))

### Adding the output layer

In [19]:
ann_model.add(Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [20]:
ann_model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [21]:
ann_model.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5494 - accuracy: 0.7648
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4608 - accuracy: 0.7964
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4355 - accuracy: 0.8029
Epoch 4/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4200 - accuracy: 0.8159
Epoch 5/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4093 - accuracy: 0.8214
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4008 - accuracy: 0.8273
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3935 - accuracy: 0.8315
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3865 - accuracy: 0.8354
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3801 - accuracy: 0.8376
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3740 - accuracy: 0.8422
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3686 - accuracy: 0.8435
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3640 - accuracy: 0.8459
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3602 - accuracy: 0.8494
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3566 - accuracy: 0.8518
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3539 - accuracy: 0.8543
Epoch 16/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3510 - accuracy: 0.8554
Epoch 17/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3492 - accuracy: 0.8575
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3473 - accuracy: 0.8580
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3460 - accuracy: 0.8594
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8608
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8616
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3418 - accuracy: 0.8616
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3412 - accuracy: 0.8631
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8624
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3393 - accuracy: 0.8619
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3388 - accuracy: 0.8600
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3382 - accuracy: 0.8630
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3380 - accuracy: 0.8634
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8616
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8611
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8614
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8618
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8620
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3363 - accuracy: 0.8612
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3361 - accuracy: 0.8627
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3354 - accuracy: 0.8615
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8618
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3357 - accuracy: 0.8626
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8618
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8609
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8611
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8602
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8609
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8630
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8614
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8605
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8616
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8618
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8610
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8626
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8605
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8620
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8599
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8608
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8624
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8604
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8625
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3327 - accuracy: 0.8616
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3325 - accuracy: 0.8636
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3331 - accuracy: 0.8596
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3323 - accuracy: 0.8612
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8619
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8611
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8619
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8614
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8615
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8614
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8610
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8609
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8625
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8621
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8606
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8604
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8620
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8621
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8615
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8614
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8599
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8640
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3317 - accuracy: 0.8624
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8624
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8615
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3312 - accuracy: 0.8626
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3315 - accuracy: 0.8596
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3314 - accuracy: 0.8621
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3314 - accuracy: 0.8624
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3315 - accuracy: 0.8608
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8626
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8619
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8608
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8637
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3309 - accuracy: 0.8618
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8615
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3306 - accuracy: 0.8612
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8621
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3307 - accuracy: 0.8627
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3307 - accuracy: 0.8610
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8633
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8619
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8629

In [22]:
ann_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (32, 6)                   78

 dense_1 (Dense)             (32, 6)                   42

 dense_2 (Dense)             (32, 1)                   7

=================================================================
Total params: 127 (508.00 Byte)
Trainable params: 127 (508.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

Predicting if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

In [23]:
print(ann_model.predict(sc.transform([[600, 1, 40, 3, 60000, 2, 1, 1, 50000, 1, 0, 0]])) > 0.5)

1/1 [==============================] - 0s 104ms/step
[[False]]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

### Predicting the Test set results

In [24]:
y_pred = ann_model.predict(X_test)

y_predicted = []

for i in y_pred:
    if i <0.5:
        y_predicted.append(0)
    else:
        y_predicted.append(1)

63/63 [==============================] - 0s 1ms/step

### Making the Confusion Matrix

In [25]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_predicted)
print(cm)
accuracy_score(y_test, y_predicted)

[[1495  100]
 [ 187  218]]

0.8565